{% if block.title != blank %}
<h3>{{ block.title }}</h3>
{% endif %}
{% if block.text != blank %}
<div class="mb-3">{{ block.text }}</div>
{% endif %}
{% if block.btn_label != blank %}
<div class="text-card-btn_container">
<a class="btn btn-{{ block.btn_color }}" tabindex="-1" role="button" href="{{ block.btn_link }}">
 {{ block.btn_label }}
</a>
</div>
{% endif %}

{% schema %}
    {
        "settings": [
            {
                "type": "text",
                "id": "title",
                "default": "Lorem Ipsum",
                "label": "Heading"
            },
            {
                "type": "richtext",
                "id": "text",
                "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.",
                "label": "Text"
            },
       {
           "type": "text",
           "id": "btn_label",
           "default": "Button Text",
           "label": "Button Label"
       },
       {
           "type": "text",
           "id": "btn_link",
           "label": "Button Link"
       },
       {
           "type": "select",
           "id": "btn_color",
           "label": "Button Type",
           "default": "solid",
          "options": [
        {
        "label": "Solid",
        "value": "solid"
        },
        {
        "label": "Outline",
        "value": "outline"
        },
        {
        "label": "Inverse Outline",
        "value": "inverse-outline"
        },
        {
        "label": "Default Text",
        "value": "default-text"
        },
        {
        "label": "Inverse Text",
        "value": "inverse-text"
        }]
       }
    ]
    }
    {% endschema %}